{% extends 'base.html' %} {% block title %} Create product {% endblock %}
{% block content %}
<h1 class="mt-3">Create product</h1>
<form method="post" action="{% url 'product.update' product.id %}">
    {% csrf_token %}

    <table class="table table-borderless">
        <tr>
            <td>Name</td>
            <td><input class="form-control" type="text" name="name" id="name" value="{{ product.name }}"></td>
        </tr>
        <tr>
            <td>Details</td>
            <td><textarea class="form-control" name="details" id="details">
            {{ product.details }}
            </textarea></td>
        </tr>

        <tr>
            <td>Qty</td>
            <td><input class="form-control" type="number" name="qty" id="qty" value="{{ product.qty }}"></td>
        </tr>

        <tr>
            <td>Price</td>
            <td><input class="form-control" type="number" name="price" id="price" value="{{ product.price }}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-primary mt-3">Save</button></td>
        </tr>
    </table>
</form>
{% endblock %}