{% extends 'base.html' %} {% block title %} Register {% endblock %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Register</h1>

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <table class="table table-borderless">
                <tr>
                    <td><label for="username">User-name:</label></td>
                    <td><input type="text" id="username" name="username" class="form-control" required></td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="email" id="email" name="email" class="form-control" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" id="password" name="password" class="form-control" required></td>
                </tr>
                <tr>
                    <td><label for="password">Confirmation_Password:</label></td>
                    <td><input type="password" id="password_confirmation" name="password_confirmation" class="form-control" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}